[submodule "usr--97378--Cleo-"]
	path = usr--97378--Cleo-
	url = https://github.com/darioliotta/usr--97378--Cleo-
[submodule "Betelgeuse"]
	path = Betelgeuse
	url = https://github.com/darioliotta/Betelgeuse
[submodule "SYGGRAPH"]
	path = SYGGRAPH
	url = https://github.com/darioliotta/SYGGRAPH
[submodule "Plutonic--tere"]
	path = Plutonic--tere
	url = https://github.com/darioliotta/Plutonic--tere
[submodule "In-Search-of-the-Hidden-M-Bombs-Treasure"]
	path = In-Search-of-the-Hidden-M-Bombs-Treasure
	url = https://github.com/darioliotta/In-Search-of-the-Hidden-M-Bombs-Treasure
[submodule "Onirica--"]
	path = Onirica--
	url = https://github.com/darioliotta/Onirica--
[submodule "Letters-From-a-Bewitched-Land"]
	path = Letters-From-a-Bewitched-Land
	url = https://github.com/darioliotta/Letters-From-a-Bewitched-Land
[submodule "Eroica"]
	path = Eroica
	url = https://github.com/darioliotta/--Eroica
